<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogLevel="info"
		internalLogToConsole="true"
		>

	<variable name="LogDir" value="${basedir}/logs/" />
	<variable name="ApplicationName" value="${appdomain:format={1\}}" />

	<!-- Enable ASP.NET Core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.DiagnosticSource"/>
	</extensions>

	<targets async="true">
		<!-- Files -->
		<target xsi:type="File" name="applicationFile" fileName="${LogDir}${ApplicationName}-application-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true:padding=-5} ${activity:property=TraceId} [${activity:property=Baggage:item=OperationName}] ${logger}: ${message} ${exception:format=tostring:trimWhiteSpace=true}" />
		<target xsi:type="File" name="webHost" fileName="${LogDir}${ApplicationName}-webhost-${shortdate}.log"
				layout="${longdate:universalTime=true}|${event-properties:item=EventId_Id}|${threadid}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
		<target xsi:type="File" name="auditLogFile" fileName="${LogDir}${ApplicationName}-audit-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true:padding=-5} ${logger}:${activity:property=TraceId} ${message} ${exception:format=tostring:trimWhiteSpace=true}" />
		<!-- Console target -->
		<target xsi:type="ColoredConsole" name="console"
				layout="${date:format=HH\:mm\:ss} ${level:uppercase=true:padding=-5} [${activity:property=Baggage:item=OperationName}] ${logger}: ${message} ${exception:format=tostring:trimWhiteSpace=true}" />
	</targets>

	<rules>
		<!-- Any logger postfixed with 'AuditLogger' is used for audit logs. -->
		<logger name="*AuditLogger" writeTo="console,auditLogFile" final="true" />
		<!--All logs, including from Microsoft -->
		<logger name="Microsoft.AspNetCore.Hosting.*" minLevel="Info" writeTo="webHost" final="true"/>
		<!--Skip non-critical Microsoft logs and so log only own logs -->
		<logger name="Microsoft.*" maxLevel="Warn" final="true" />
		<!-- Log the rest -->
		<logger name="*" writeTo="console,applicationFile" />
	</rules>

</nlog>
